@import './origin.less';

.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  .box {
    padding: 5px;
    height: 100%;

    .toolBar {
      height: 36px;
      line-height: 36px;
      padding: 0 12px;
    }

    .content {
      display: flex;
      height: calc(100% - 36px);
      padding-bottom: 12px;
      border-top: 1px solid #999;

      .searchResultBox {
        width: 400px;
        height: 100%;
        padding: 12px 12px 0;
        border-right: 1px solid #999;

        .searchResult {
          li {
            line-height: 24px;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .preview {
        flex: 1;
        padding: 12px 12px 0;
        > iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.dark {
  background-color: #222;

  .content {
    color: #eee;

    .treeContent {
      li .file_icon {
        &.open {
          background: url(../img/open1.png) no-repeat center center;
          background-size: 16px 16px;
        }
        &.close {
          background: url(../img/close1.png) no-repeat center center;
          background-size: 16px 16px;
        }
      }
    }
  }
  .toolBar {
    color: #eee;
  }
  .inputBox {
    color: #eee;
  }
}

.light {
  background-image: linear-gradient(to right, #fffdc5, #93dcff);

    .toolBar {
      color: #222;
    }

    .inputBox {
      color: #222;
    }

    .content {
      color: #222;
    }

  .treeContent {
    li .file_icon {
      &.open {
        background: url(../img/open.png) no-repeat center center;
        background-size: 16px 16px;
      }
      &.close {
        background: url(../img/close.png) no-repeat center center;
        background-size: 16px 16px;
      }
    }
  }
}


.zixian {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 540px;
}
